table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        width: 80%
	border: 0;
}

tr:nth-child(even){background-color: #B5DFF6;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0F77B2;
    color: #CCCCCC;
}

h1 {
    font-size: 40px;
}

p.normal {
    font: 15px arial, sans-serif;
}

p.pass {
    color: green;
    font: italic bold 12px/30px Georgia, serif;
}

p.fail {
    color: red;
    font: italic bold 12px/30px Georgia, serif;
}

